--
-- PostgreSQL database dump
--

-- Dumped from database version 13.18 (Debian 13.18-1.pgdg120+1)
-- Dumped by pg_dump version 13.18 (Debian 13.18-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "user";

--
-- Name: benutzer; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.benutzer (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    rolle character varying(50) NOT NULL,
    passwort character varying(255) NOT NULL,
    erstellt_am timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    student_id integer
);


ALTER TABLE public.benutzer OWNER TO "user";

--
-- Name: benutzer_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.benutzer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.benutzer_id_seq OWNER TO "user";

--
-- Name: benutzer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.benutzer_id_seq OWNED BY public.benutzer.id;


--
-- Name: dokumenten_metadaten; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.dokumenten_metadaten (
    id integer NOT NULL,
    dokument_name character varying(255) NOT NULL,
    typ character varying(50) NOT NULL,
    erstelldatum timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.dokumenten_metadaten OWNER TO "user";

--
-- Name: dokumenten_metadaten_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.dokumenten_metadaten_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dokumenten_metadaten_id_seq OWNER TO "user";

--
-- Name: dokumenten_metadaten_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.dokumenten_metadaten_id_seq OWNED BY public.dokumenten_metadaten.id;


--
-- Name: fachbereich_sekretariat; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.fachbereich_sekretariat (
    id integer NOT NULL,
    joker_antrag_id integer NOT NULL,
    joker_verfuegbar boolean DEFAULT true,
    letzte_aenderung timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    bemerkungen text
);


ALTER TABLE public.fachbereich_sekretariat OWNER TO "user";

--
-- Name: fachbereich_sekretariat_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.fachbereich_sekretariat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fachbereich_sekretariat_id_seq OWNER TO "user";

--
-- Name: fachbereich_sekretariat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.fachbereich_sekretariat_id_seq OWNED BY public.fachbereich_sekretariat.id;


--
-- Name: joker_antraege; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.joker_antraege (
    id integer NOT NULL,
    student_id integer NOT NULL,
    fach character varying(255),
    pruefungsnummer character varying(50),
    pruefer character varying(255),
    joker_verwendet boolean DEFAULT false,
    doppelstudium boolean DEFAULT false,
    doppelstudium_name character varying(255),
    datum_erstellung timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(255) DEFAULT 'Ausstehend'::character varying,
    bemerkungen text,
    dokumenten_metadaten_id integer,
    joker_verfuegbar boolean DEFAULT false,
    letzte_aenderung timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.joker_antraege OWNER TO "user";

--
-- Name: joker_antraege_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.joker_antraege_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.joker_antraege_id_seq OWNER TO "user";

--
-- Name: joker_antraege_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.joker_antraege_id_seq OWNED BY public.joker_antraege.id;


--
-- Name: pruefungsausschuss; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.pruefungsausschuss (
    id integer NOT NULL,
    joker_antrag_id integer NOT NULL,
    unterschrift character varying(255),
    bedenken text,
    datum_bearbeitung timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pruefungsausschuss OWNER TO "user";

--
-- Name: pruefungsausschuss_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.pruefungsausschuss_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pruefungsausschuss_id_seq OWNER TO "user";

--
-- Name: pruefungsausschuss_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.pruefungsausschuss_id_seq OWNED BY public.pruefungsausschuss.id;


--
-- Name: studenten; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.studenten (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    vorname character varying(255) NOT NULL,
    matrikelnummer character varying(50) NOT NULL,
    fachbereich character varying(255) NOT NULL,
    studiengang character varying(255) NOT NULL,
    unterschrift character varying(255),
    erstellt_am timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.studenten OWNER TO "user";

--
-- Name: studenten_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.studenten_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.studenten_id_seq OWNER TO "user";

--
-- Name: studenten_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.studenten_id_seq OWNED BY public.studenten.id;


--
-- Name: benutzer id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.benutzer ALTER COLUMN id SET DEFAULT nextval('public.benutzer_id_seq'::regclass);


--
-- Name: dokumenten_metadaten id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.dokumenten_metadaten ALTER COLUMN id SET DEFAULT nextval('public.dokumenten_metadaten_id_seq'::regclass);


--
-- Name: fachbereich_sekretariat id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.fachbereich_sekretariat ALTER COLUMN id SET DEFAULT nextval('public.fachbereich_sekretariat_id_seq'::regclass);


--
-- Name: joker_antraege id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.joker_antraege ALTER COLUMN id SET DEFAULT nextval('public.joker_antraege_id_seq'::regclass);


--
-- Name: pruefungsausschuss id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pruefungsausschuss ALTER COLUMN id SET DEFAULT nextval('public.pruefungsausschuss_id_seq'::regclass);


--
-- Name: studenten id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.studenten ALTER COLUMN id SET DEFAULT nextval('public.studenten_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: benutzer; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: dokumenten_metadaten; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: fachbereich_sekretariat; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.fachbereich_sekretariat (id, joker_antrag_id, joker_verfuegbar, letzte_aenderung, bemerkungen) FROM stdin;
1	1	f	2025-01-02 11:53:52.675079	Joker nicht verf├╝gbar.
\.


--
-- Data for Name: joker_antraege; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: pruefungsausschuss; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.pruefungsausschuss (id, joker_antrag_id, unterschrift, bedenken, datum_bearbeitung) FROM stdin;
1	12	uploads/signature.png	\N	2025-01-11 15:14:19.264116
2	2	uploads/signature.png	\N	2025-01-13 08:46:00.776291
\.


--
-- Data for Name: studenten; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.studenten (id, name, vorname, matrikelnummer, fachbereich, studiengang, unterschrift, erstellt_am) FROM stdin;
1	Muster	Max	123456	Informatik	Bachelor	\N	2024-12-07 15:31:10.420923
2	Kaczmarczyk	mARKO	12345	MND	Wirtschaftsinformatik	\N	2024-12-07 16:26:28.048089
\.


--
-- Name: benutzer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.benutzer_id_seq', 3, true);


--
-- Name: dokumenten_metadaten_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.dokumenten_metadaten_id_seq', 10, true);


--
-- Name: fachbereich_sekretariat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.fachbereich_sekretariat_id_seq', 1, true);


--
-- Name: joker_antraege_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.joker_antraege_id_seq', 12, true);


--
-- Name: pruefungsausschuss_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.pruefungsausschuss_id_seq', 2, true);


--
-- Name: studenten_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.studenten_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: benutzer benutzer_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT benutzer_email_key UNIQUE (email);


--
-- Name: benutzer benutzer_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT benutzer_pkey PRIMARY KEY (id);


--
-- Name: dokumenten_metadaten dokumenten_metadaten_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.dokumenten_metadaten
    ADD CONSTRAINT dokumenten_metadaten_pkey PRIMARY KEY (id);


--
-- Name: fachbereich_sekretariat fachbereich_sekretariat_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.fachbereich_sekretariat
    ADD CONSTRAINT fachbereich_sekretariat_pkey PRIMARY KEY (id);


--
-- Name: joker_antraege joker_antraege_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.joker_antraege
    ADD CONSTRAINT joker_antraege_pkey PRIMARY KEY (id);


--
-- Name: pruefungsausschuss pruefungsausschuss_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pruefungsausschuss
    ADD CONSTRAINT pruefungsausschuss_pkey PRIMARY KEY (id);


--
-- Name: studenten studenten_matrikelnummer_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.studenten
    ADD CONSTRAINT studenten_matrikelnummer_key UNIQUE (matrikelnummer);


--
-- Name: studenten studenten_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.studenten
    ADD CONSTRAINT studenten_pkey PRIMARY KEY (id);


--
-- Name: benutzer benutzer_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.benutzer
    ADD CONSTRAINT benutzer_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.studenten(id);


--
-- Name: fachbereich_sekretariat fachbereich_sekretariat_joker_antrag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.fachbereich_sekretariat
    ADD CONSTRAINT fachbereich_sekretariat_joker_antrag_id_fkey FOREIGN KEY (joker_antrag_id) REFERENCES public.joker_antraege(id);


--
-- Name: joker_antraege joker_antraege_dokumenten_metadaten_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.joker_antraege
    ADD CONSTRAINT joker_antraege_dokumenten_metadaten_id_fkey FOREIGN KEY (dokumenten_metadaten_id) REFERENCES public.dokumenten_metadaten(id);


--
-- Name: joker_antraege joker_antraege_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.joker_antraege
    ADD CONSTRAINT joker_antraege_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.studenten(id);


--
-- Name: pruefungsausschuss pruefungsausschuss_joker_antrag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pruefungsausschuss
    ADD CONSTRAINT pruefungsausschuss_joker_antrag_id_fkey FOREIGN KEY (joker_antrag_id) REFERENCES public.joker_antraege(id);


--
-- PostgreSQL database dump complete
--

